body {
    background-image: url(https://media.giphy.com/media/Dw1m8lSxkXPZC/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    border: #000000 solid 1px;
    margin-right: 35vw;
    margin-left: 35vw;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}

.page {
    
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

.archives {
    padding-bottom: 15px;
    border-bottom: #000000 solid 1px;
    padding-left: 10px;
}

.task {
    padding-left: 10px;
}

.addtask {
    padding-left: 10px;
}

.listarchives {
    text-decoration: line-through;
    color: gray;
    text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}